@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    
}

/* this is header menu  */
.app-header{
position: fixed;
top: 0;
width: 100%;
z-index: 3;
}

/* this class is located from SideBar component  */
.menus li {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 28px;
    color: #3F434A;
    line-height: 1;
    transition: all 0.3s ease;
    
}

.menus li:hover {
    border-left: 4px solid #304FFD;
    background-color: #F8F8F8;
}
.menus li a {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.status-btn-green{
    color: #49C96D;
    background-color: #2dcd5a17;
    padding: 5px 20px;
    border-radius: 10px;
}
.status-btn-orange{
    color: #E56E19;
    background-color: #e56e1927;
    padding: 5px 20px;
    border-radius: 10px;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #304FFD;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0px 3px 0px -1px #0C21C7;
    padding: 8px 16px;
    transition: all 0.5s ease;
}
.cta-btn:hover {
    box-shadow: 0px 3px 0px -1px #4c4c4c;
    background-color: #000000;
}
.cta-btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 2px solid #4c4c4c;
    color: #000000;
    border-radius: 15px;
    padding: 8px 16px;
    transition: all 0.5s ease;
}
.cta-btn-outline:hover {
    background-color: #363636;
    color: #fff;
}
 
.table-data{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.modal-box{
    max-height: 700px;
    
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#0c7cc7, #abc4ff);
    border-radius: 10px;
}

.cross-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #F8F8F8;
    transition: all 0.2s ease;
}
.cross-btn:hover{
    background-color: #ff0000;
    color: #fff;
}
hr{
    border-color: #ff0000;
}

